html,
body,
div,
h1,
h2,
p,
ul,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

body {
  background: #C9C9C9;
}

canvas {
  margin-left: 70px;
  margin-top: 35px;
  border: 2px solid #A1A1A1;
  background-color: #1C7BBE;
}

.gameButton {
  margin-left: 72px;
  width: 363px;
  height: 80px;
}

.gameDescription {
  margin-left: 60px;
  margin-top: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.submitHighScore {
  margin-top: 50px;
  margin-left: 70px;
}
