html,
body,
div,
h1,
h2,
p,
ul,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

body {
  background: #C9C9C9;
  margin:auto;
  margin-left: auto;
  width: 80%;
}

canvas {
  margin-top: 35px;
  width: 800px;
  border: 2px solid #A1A1A1;
  background-color: #1C7BBE;
}

.gameButtonWrapper{
  width: 800px;
}

.gameButton {
  float: none;
  margin-left: 10px;
  width: 380px;
  height: 80px;
}

.gameDescription {
  margin-top: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.submitHighScore {
  margin-top: 50px;
}

.highScoreTitle {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: larger;
  width: 800px;
  margin: inherit;
}

.highScoreList {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: large;
  width: 800px;
}

.highScoreListItem {
  display: inline;
}
