<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Login</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href = "./highScores.ejs" >High Scores</a></li>
        <li><a href = "./game.ejs" >Game</a></li>
        <li><a href = "./index.ejs" class = "active" >Login</a></li>
      </ul>
    </nav>

    <footer>
      <nav>
        <ul>
          <li><a href = "./index.ejs" style = "float:left">Login</a></li>
          <li><a href = "./game.ejs" style = "float:left">Game</a></li>
          <li><a href = "./highScores.ejs" style = "float:left">High Scores</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
